.DS_Store
node_modules
/build
/dist
/.svelte-kit
.env
.env.*
!.env.example

/playwright/.cache/
/playwright-report/
/blob-report/
/test-results/

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
